@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Home";
  ViewBag.ViewRendersHeader = true;
}
@section script_at_foot {
  <script src="/Static/Scripts/home.js" type="text/javascript"></script>
}
<section id="showreel2" class="css3showreel">
 <div id="showreel-container">
    <div id="showreel-stage">
      <div id="showreel-shape">
        <a href="http://rijksmuseum.nl" class="item active-item" style="background-image: url(/Static/Images/SK-C-5.jpg); background-position: center center;" data-number="0">
          <p>Rijksmuseum.nl in een nieuwe jas</p>
        </a>
        <a href="http://blog.q42.nl/post/34827577445/trots-op-philips-hue" class="item" style="background-image: url(/Static/Images/hue.jpeg); background-position: center center;" data-number="1">
          <p class="left">Philips Hue wereldwijd gelanceerd</p>
        </a>
        <a href="http://blog.q42.nl/post/27330709690/mendo-finalist-dutch-design-awards" class="item" style="background-image: url(/Static/Images/boeken.jpg)" data-number="2">
          <p>MENDO.nl finalist Dutch Design Awards</p>
        </a>
        @*<a href="#" class="item" style="background-image: url(/Static/Images/adam.jpg)" data-number="x">
          <p>Q42 opent vestiging Amsterdam</p>
        </a>*@
        <a href="http://blog.q42.nl/post/27330784863/schooltas-wint-dutch-interactive-award" class="item" style="background-image: url(/Static/Images/dia.jpg); background-position: center center;" data-number="3">
          <p>Schooltas wint Dutch Interactive Award</p>
        </a>
        <a href="/interaction-engineering" class="item" style="background-image: url(/Static/Images/johan.jpg); background-position: center center;" data-number="4">
          <p>Johan over Interaction Engineering</p>
        </a>
        <a href="/games" class="item" style="background-image: url(/Static/Images/q42games.png)" data-number="5">
          <p class="left">Uit de hand gelopen hobby</p>
        </a>
      </div>
    </div>
  </div>
        
  <div id="indicators"></div>

  <!-- page header and navigation --> 
  @Html.Partial("Partials/SiteHeaderInner")
</section>

<section id="homecontent">
  <header id="q42is-header" class="block-text" style="padding-top: 0;">
    <h1 style="position: relative; overflow: hidden; margin: 10px 0;">
      <div style="display:inline-block; color: #000;">Q42 is </div>
      <div id="q42is">
        <div>
          <span class="selected">technisch internetbureau</span>
          <span>nerds</span>
          <span>programmeurs</span>
          <span>internetverslaafd</span>
          <span>iOS-developers</span>
          <span>koffieliefhebbers</span>
          <span>interaction engineers</span>
          <span>die gasten in Den Haag</span>
          <span>creatieve coders</span>
          <span>happy place voor nerds</span>
          <span>beste tosti's van Nederland</span>
          <span>Android-developers</span>
          <span>meedenkende techneuten</span>
          <span>web ontwikkelaars</span>
        </div>
      </div>
    </h1>
  </header>
          
  <section class="block-large">
    <article class="block-medium">
        <h2 class="title">Het nieuwe Rijksmuseum.nl</h2>
        <h3>30 oktober 2012</h3>
        <a href="#" class="category">blog</a>
        <a class="visual caption">
          <img src="/Static/Images/rijks.jpg" alt="Ook de site is echte kunst." />
          <p>Ook de site is echte kunst.</p>
        </a>
        <div class="body">
          <p>In 2004 hebben wij samen met Fabrique een prijswinnende website voor het Rijks neergezet. Deze was inmiddels echter wel toe aan een verbouwing.</p>
          <p>De nieuwe Rijksmuseum website is lekker modern: responsive, tablet-first, fijne animaties. Een opvallend onderdeel van de site is Rijksstudio: jouw eigen verzameling, knutselplek en museumshop in één. Met de 125.000 beschikbare kunstwerken in hoge resolutie hoef je je voorlopig niet te vervelen!</p>
          <p><a href="http://rijksmuseum.nl" class="external">Bezoek het Rijksmuseum (.nl)</a></p>
        </div>
    </article>
    <article class="block-small">
        <h2 class="title">w00tcamp winnaars</h2>
        <h3>4 december 2012</h3>
        <a href="#" class="category">blog</a>
        <a class="visual caption">
          <img src="/Static/Images/homew00t.jpg" alt="winnaars w00tcamp 2012" />
          <p>The winners took it all.</p>
        </a>
        <div class="body">
          <p>Ieder jaar hebben we twee dagen lang w00tcamp. Passietijd om aan eigen projecten te werken, en daar komen dan echte pareltjes uit.</p>
          <p>Het winnende project laat je via <a href="http://www.huelandsspoor.nl" class="external">huelandsspoor.nl</a> de Philips Hue lampen op ons kantoor van kleur veranderen. 
            En natuurlijk valt er ook heel wat te gamen!</p>
          <p><a href="/w00tcamp">Bekijk alle w00tcamp projecten</a></p>
        </div>
    </article>
  </section>

  <section class="block-large">
    <article class="block-small">
      <h2 class="title">Pepper</h2>
      <h3>Het nieuwe online daten</h3>
      <a href="#" class="category">projecten</a>
      <a class="visual caption">
        <img src="/Static/Images/nerdsInLove.jpg" alt="" />
        <p>Liefde is... elkaars inner nerd leuk vinden.</p>
      </a>
      <div class="body">
        <p>RTL zocht naar 'de nieuwe manier van online daten'. 1127 singles hielpen om te achterhalen hoe online daten écht beter kan. Dat resulteerde in een <a href="http://pepper.nl/" class="external">verfrissend datingsiteconcept</a>.</p>
      </div>
    </article>
    <article class="block-small">
      <h2 class="title">Handcraft</h2>
      <h3>Interactive HTML prototypes</h3>
      <a href="#" class="category">producten</a>
      <a class="visual caption">
        <img src="/Static/Images/handcraft-small.jpg" alt="Handcraft" />
        <p>Ambachtelijk handwerk FTW!</p>
      </a>
      <div class="body">
        <p>Handcraft is een online editor die voortkomt uit ons geloof in het "design in the browser"-principe. En we vinden het zelf erg handig om mee te prototypen. We kunnen dan lekker makkelijk ons werk delen met collega's, partners en klanten.</p>
        <p><a href="http://handcraft.com/" class="external">Bekijk Handcraft</a></p>
      </div>
    </article>
    <article class="block-small">
      <h2 class="title">Philips Hue wereldwijd gelanceerd</h2>
      <h3>29 oktober 2012</h3>
      <a href="#" class="category">blog</a>
      <a class="visual caption">
        <img src="/Static/Images/huesmall.jpg" alt="Lampen voor nerds." />
        <p>Lampen voor nerds.</p>
      </a>
      <div class="body">
        <p>We houden niet van borstklopperij (oké, dat liegen we, maar laten we doen alsof), maar als je samen met Philips een product maakt met Google technologie en dat wereldwijd exclusief in Apple Stores verkocht wordt, én dat wordt dan op Wired, Mashable, Engadget, Gizmodo, 9to5Mac, The Verge, NU.nl en nog veel meer genoemd, dan mag het wel een keertje, toch? ;-)</p>
        <p><a href="http://blog.q42.nl/post/34827577445/trots-op-philips-hue">Lees verder</a></p>
      </div>
    </article>
  </section>

  <section class="block-large">
    <article class="block-small">
      <h2 class="title">Interaction Engineering FTW!</h2>
      <h3>29 juni 2012</h3>
      <a href="#" class="category">over q42</a>
      <a class="visual caption">
        <img src="/Static/Images/oilsmall.jpg" alt="Interaction engineers zijn smeerolie." />
        <p>Interaction engineers zijn smeerolie.</p>
      </a>
      <div class="body">
        <p>Mooi webspul, hoe maak je dat? Met fantastische ontwerpers en geweldige programmeurs, natuurlijk. Maar dat is niet voldoende. Wij geloven dat ontwerp en techniek onlosmakelijk aan elkaar verbonden zijn. Je kunt niet iets écht goeds voor het web ontwerpen zonder verstand van techniek. En je kunt ook niet iets écht goeds voor het web bouwen zonder verstand van ontwerp. Juist op dat snijvlak gebeuren de spannende dingen. Precies daar, op dat snijvlak, begeven onze interaction engineers zich. Wat is dat, interaction engineering? Dat leggen wij graag uit.</p>
        <p><a href="/interaction-engineering">Lees verder</a></p>
      </div>
    </article>
    <article class="block-medium">
      <h2 class="title">9292</h2>
      <h3>De hele mikmak: web & apps</h3>
      <a href="#" class="category">blog</a>
      <a class="visual caption">
        <img src="/Static/Images/9292-medium.jpg" alt="'Waar wil je heen?' Existentiële vraag, eigenlijk." />
          <p>'Waar wil je heen?' Existentiële vraag, eigenlijk.</p>
      </a>
      <div class="body">
        <p>In nauwe samenwerking met Fabrique en 9292 hebben wij <a href="http://9292.nl" class="external">9292.nl</a> omgebouwd van gereedschap naar goede vriend. Daarnaast hebben we de mobiele site en de Windows Phone app gebouwd.</p>
        <p>En er komt nog veel meer mooi spul aan!</p>
      </div>
    </article>
  </section>

  <section class="block-large">
    <article class="block-small">
      <h2 class="title">Schooltas</h2>
      <h3>ThiemeMeulenhoff's iPad app</h3>
      <a href="#" class="category">project</a>
      <a class="visual caption">
        <img src="/Static/Images/schooltas3.jpg" alt="" />
        <p>Zaten we zelf nog maar op school. #jaloers</p>
      </a>
      <div class="body">
        <p>600 gram is genoeg voor alle schoolboeken. Schooltas van ThiemeMeulenhoff is leerboek, werkboek en schrift in e´e´n waardoor leerlingen volledig via de iPad kunnen werken.</p>
      </div>
    </article>
    <article class="block-small">
      <h2 class="title">Games</h2>
      <h3>Digitaal en analoog</h3>
      <a href="#" class="category">fun</a>
      <a class="visual caption">
        <img src="/Static/Images/gamessmall.jpg" alt="Spelen en maken. Digitaal en analoog." />
        <p>Spelen en maken. Digitaal en analoog.</p>
      </a>
      <div class="body">
        <p>Peter Pan blijft altijd jong. Q-ers eigenlijk ook. Games spelen zit in ons bloed en als we even de tijd ervoor nemen maken we ook graag spellen.</p>
        <p>En om dat creatieve en katalyserende proces gezond in een bedrijf te passen zeggen we voortaan officieel dat we ook "games maken". Een soort pleziertherapie.</p>
        <p><a href="/games">Check al onze games.</a></p>
      </div>
    </article>
    <article class="block-small">
      <h2 class="title">Remco over data attributes</h2>
      <h3>18 september 2012</h3>
      <a href="#" class="category">blog</a>
      <a class="visual caption">
        <img src="/Static/Images/nerdsInLove.jpg" alt="" />
        <p>Remco over data attributes</p>
      </a>
      <div class="body">
        <p>bla</p>
      </div>
    </article>
  </section>
</section>